/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  background-color: slateblue;
  color: white; 
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

Button {
  padding: 15px;
border-radius: 15px;
}

#gameButtonArea > button {
  width:150px;
  height:150px;
  margin:2px;
}

.hidden {
  display: none;
}


#button1 {
    background: lightgreen;
}
#button2 {
    background: lightpink;
}
#button3 {
    background: lightyellow;
}
#button4 {
    background: lightblue;
}
#button5 {
    background: lightgray;
}


#button1:active {
    background:green;
}

#button2:active {
    background:red;
}

#button3:active {
    background:yellow;
}

#button4:active {
    background:blue;
}
#button5:active {
    background:black;
}

h1 {
  font-family: Courier New, sans-serif; 
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}